{{ block "head" . }}
{{ end }}

<body class="border-top-wide border-primary d-flex flex-column theme-dark">
<div class="page page-center">
    <div class="container-tight py-4">
        <form class="card card-md" action="/auth/actions/sign-up" method="POST">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">{{ (call .Language "registration") }}</h2>

                {{ if eq .Error "user_exists" }}
                <div class="alert alert-danger mb-5" role="alert">
                    {{ (call .Language "user_exists") }}
                </div>
                {{ end }}
                {{ if eq .Error "wrong_fields" }}
                <div class="alert alert-danger mb-5" role="alert">
                    {{ (call .Language "wrong_fields") }}
                </div>
                {{ end }}
                {{ if eq .Error "wrong_email" }}
                <div class="alert alert-danger mb-5" role="alert">
                    {{ (call .Language "wrong_email") }}
                </div>
                {{ end }}
                {{ if eq .Error "wrong_captcha" }}
                <div class="alert alert-danger mb-5" role="alert">
                    {{ (call .Language "wrong_captcha") }}
                </div>
                {{ end }}

                <div class="mb-3">
                    <label class="form-label">{{ (call .Language "username") }}</label>
                    <input type="text" class="form-control" name="login" placeholder="{{ (call .Language "username") }}" autocomplete="off">
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" autocomplete="off">
                </div>
                <div class="mb-3">
                    <label class="form-label">{{ (call .Language "password") }}</label>
                    <input type="password" class="form-control" name="password" placeholder="{{ (call .Language "password") }}" autocomplete="off">
                </div>
                <div class="mb-4">
                    <div class="h-captcha" data-sitekey="49e34161-d674-45a2-b76f-11b38186b740"></div>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">{{ (call .Language "signup") }}</button>
                </div>
            </div>
        </form>
        <div class="text-center text-muted mt-3">
            {{ (call .Language "have_account") }} <a href="/auth/sign-in">{{ (call .Language "signin") }}</a>
        </div>
    </div>
</div>

</body>

</html>