{{ block "head" . }}
{{ end }}

<body class="border-top-wide border-primary d-flex flex-column theme-dark">
<div class="page page-center">
    <div class="container-tight py-4">
        <div class="empty">
            <p class="empty-title">Temporarily down for maintenance</p>
            <p class="empty-subtitle text-muted">
                Sorry for the inconvenience but we’re performing some maintenance at the moment. We’ll be back online shortly!
            </p>
        </div>
    </div>
</div>

</body>
</html>